<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  <div class="main-area">
    <span left style="background: transparent;" padding>
      <i class="ti-arrow-left" style="font-weight: 800; background: transparent;"></i>
    </span>
    <div class="columns" padding>
      <div class="column is-12 text-primary-faded" id="page-title" semiBold>
        <span left>Settings</span>
        <span right>
          <!-- <div class="circle"></div> -->
        </span>
      </div>
      <div class="column is-12">
        <div class="columns" >
          <div class="column is-12 settings-label">Username</div>
          <div class="column is-12">
            <span left class="settings-text">Dhaveed</span>
            <span right class="edit pull-right">Edit</span>
          </div>
        </div>
        <div class="columns" margin-top>
          <div class="column is-12 settings-label">Email</div>
          <div class="column is-12">
            <span left class="settings-text">davidadegoke31@gmail.com</span>
            <span right class="edit pull-right">Edit</span>
          </div>
        </div> 
        <div class="columns" margin-top>
          <div class="column is-12 settings-label">Phone</div>
          <div class="column is-12">
            <span left class="settings-text">+234 903 715 4836</span>
            <span right class="edit pull-right">Edit</span>
          </div>
        </div> 
        <div class="columns" >
          <div class="column is-12 settings-label">Password</div>
          <div class="column is-12">
            <span left class="settings-text">&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;</span>
            <span right class="edit pull-right">Edit</span>
          </div>
        </div>  
        <div class="columns" >
          <div class="column is-12 settings-label">Location</div>
          <div class="column is-12">
            <span left class="settings-text">Osogbo, Nigeria</span>
          </div>
        </div>
        <hr margin>

        <div class="columns" >
          <!-- <div class="column is-12 settings-label">Password</div> -->
          <div class="column is-12" margin-top>
            <span left class="settings-text fade-text" style="color: #ccc;">
              Notifications
            </span>
            <span right class="edit pull-right">
                <ion-toggle ></ion-toggle>
            </span>
          </div>
        </div>

        <div class="columns" >
            <!-- <div class="column is-12 settings-label">Password</div> -->
            <div class="column is-12" margin-top>
              <span left class="settings-text fade-text" style="color: #ccc;">
                Install updates automatically
              </span>
              <span right class="edit pull-right">
                  <ion-toggle ></ion-toggle>
              </span>
            </div>
          </div>

      </div>
    </div>
  </div>
</ion-content>
