<!-- <ion-header>
  <ion-toolbar>
    <ion-title>splash</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  <!-- <ion-title> -->
    <div id="page-title">
      <h1 black class="primary-text">Agriculture. <span semiBold class="accent-text">Fun and Easy</span></h1>
      <p class="subtitle">It shouldn't be difficult</p>
    </div>

    <div id="splash-slider">
      <!-- s -->
    </div> 

    <div id="cta" padding margin-top>
      <ion-row class="cta-button">
        <button class="button button-gradient" routerLink="/login">
          Login
        </button>
      </ion-row>
      <ion-row class="cta-button" margin-top>
        <button class="button button-white" routerLink="/register">
          Sign up
        </button>
      </ion-row>
    </div>
   
    <ion-row margin-top>
        <p class="text-primary-faded text-center" style="margin-left: auto; margin-right: auto;">Terms of service</p>
    </ion-row>
</ion-content>
