<ion-content padding>
    <div class="main-area">
      <span left style="background: transparent;" padding routerLink="/login">
        <i class="ti-arrow-left" style="font-weight: 800; background: transparent; font-size: 1.5em; opacity: 0.8;"></i>
      </span>
      <div class="columns" padding>
        <div class="column is-12 text-primary-faded" id="page-title" semiBold>
          <span left>Marketplace</span>
          <span right>
            <!-- <div class="circle"></div> -->
          </span>
        </div>
        <div class="column is-12">
          <div class="row">
            <div class="col-md-6">
              1
            </div>
            <div class="col-md-6">
              2
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  