<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title>
      Home
    </ion-title> -->
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="ios-notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="container">
    <div class="columns" margin-top>
      <div class="column is-12 img-box">
        <div class="circle">
          <img src="./src/img/sprout.svg" alt="">
        </div>
        <h3 class="mt-30">Oh, hello there!</h3>
      </div>
      <div class="column is-12 subt-text">
        <p style="text-align: center;">
          It looks like you do not have any active farms at the moment,
          why not start one now.
        </p>
      </div>
      <div class="column is-12">
        <ion-row margin>
          <button class="button button-gradient" routerLink="/view-farms">
            Create a new farm <ion-icon name="custom-farm"></ion-icon>
          </button>
        </ion-row>
      </div>
      <div class="column is-12 subt-text-2 mt-30" margin>
        <p style="text-align: center;">
          It looks like you do not have any active farms at the moment,
          why not start one now.
        </p>
      </div>
    </div>
  </div>
</ion-content>