<ion-content padding>
  <div class="main-area">
    <span left style="background: transparent;" padding routerLink="/login">
      <!-- <i class="ti-arrow-left" style="font-weight: 800; background: transparent; font-size: 1.5em; opacity: 0.8;"></i> -->
      <ion-icon src="./src/img/hamburger.svg" style="width: 45px;"></ion-icon>
    </span>
    <div class="columns" padding>
      <div class="column is-12 text-primary-faded" id="page-title" semiBold>
        <span left>Explore</span>
        <span right>
          <!-- <div class="circle"></div> -->
        </span>
      </div>
      <div class="column is-12">
        <div class="columns">
          <div class="column" margin-bottom>
            <div class="farm-img"></div>
            <div class="farm-desc"></div>
          </div>
          
          <div class="column" margin-bottom>
            <div class="farm-img"></div>
            <div class="farm-desc"></div>
          </div>

          <div class="column" margin-bottom>
            <div class="farm-img"></div>
            <div class="farm-desc"></div>
          </div>

          <div class="column" margin-bottom>
            <div class="farm-img"></div>
            <div class="farm-desc"></div>
          </div>

          <div class="column" margin-bottom>
            <div class="farm-img"></div>
            <div class="farm-desc"></div>
          </div>

          <div class="column" margin-bottom>
            <div class="farm-img"></div>
            <div class="farm-desc"></div>
          </div>

          <div class="column" margin-bottom>
            <div class="farm-img"></div>
            <div class="farm-desc"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>