<ion-content padding>
    <div class="colums main-area">
      <div class="column is-12 title-block">
        <h2 class="title" semiBold>
          iFitFarm
        </h2>
        <span class="subtitle text-primary-faded">
          Please enter your phone number below to reset your password
        </span>
      </div>
  
  
      <div class="column is-12 login-area" margin>
        <ion-list>
          <ion-item>
            <label floating>
              <i class="ti-mobile"></i>
            </label>
            <ion-input type="text" placeholder="Phone number"></ion-input>
          </ion-item>

          <ion-row margin>
            <button class="button button-gradient">
              Reset password
            </button>
          </ion-row>
  
        </ion-list>
      </div>
    </div>
  
    <ion-row>
      <div class="column is-12 page-bottom text-center" margin padding>
        <span class="text-center">
          Return to <a routerLink="/login">Login</a>
        </span>
      </div>
    </ion-row>
  </ion-content>
  